{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-md-8">
      <h3>¡Gracias por compartir tus datos con nosotros!</h3>
    {% if single_patient %}
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Edad</th>
          <th>Estatura</th>
          <th>Peso</th>
          <th>IMC</th>
          <th>Estatus</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="/patients/{{single_patient.id}}">{{single_patient.id}}</a></td>
          <td>{{single_patient.patient_name}}</td>
          <td>{{single_patient.patient_last_name}}</td>
          <td>{{single_patient.patient_age_choices}} años</td>
          <td>{{single_patient.patient_height}} m</td>
          <td>{{single_patient.patient_weight}} Kg</td>
          <td>{{single_patient.patient_imc|floatformat:2}}</td>
          <td>{{single_patient.patient_status}}</td>
        </tr>
      </tbody>
    </table>
    {% if single_patient.patient_status == 'Bajo' %}
      <div class="alert alert-dismissable alert-info">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>¡Ojo!</strong> Tu IMC es de <a href="#">{{single_patient.patient_imc|floatformat:2}}</a> eso indica que estas en estatus {{single_patient.patient_status}}.
      </div>
    {% elif single_patient.patient_status == 'Normal' %}
      <div class="alert alert-dismissable alert-success">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>¡Muy Bien!</strong> Tu IMC es de <a href="#" class="text-primary">{{single_patient.patient_imc|floatformat:2}}</a> eso indica que estas en estatus {{single_patient.patient_status}}.
      </div>

    {% elif single_patient.patient_status == 'Sobrepeso' %}
      <div class="alert alert-dismissable alert-warning">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>¡Cuidado!</strong> Tu IMC es de <a href="#">{{single_patient.patient_imc|floatformat:2}}</a> eso indica que estas en estatus de {{single_patient.patient_status}}.
      </div>
    {% else %}
      <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <strong>¡Cuidado!</strong> Tu IMC es de <a href="#">{{single_patient.patient_imc|floatformat:2}}</a> eso indica que estas en estatus de {{single_patient.patient_status}}.
      </div>
    {% endif %}


    <!--
    <ul>
      <li><h2>{{single_patient.patient_name}} {{single_patient.patient_last_name}}</h2></li>
      <li><strong>{{single_patient.patient_imc|floatformat:4}}</strong></li>
      <li><strong>{{single_patient.patient_status}}</strong></li>
      {% if single_patient.patient_imc < 18.5 %}
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">Peligro</h3>
        </div>
        <div class="panel-body">
          Tu IMC ({{single_patient.patient_imc|floatformat:2}}) es Menor a 18.5
        </div>
      </div>
      {% else %}
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Normal</h3>
        </div>
        <div class="panel-body">
          Tu IMC esta Normal
        </div>
      </div>
      {% endif %}

    </ul> -->
    {% endif  %}
{% endblock %}
  </div>
</div>
